<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="authorization.css">
</head>
<body>
<div class="header-folder">
    <div class="logo-cat">
        <img class="logo" src="../styles/logo.svg">
        <img class="white-cat" src="../styles/cat-w.svg">
    </div>
    <div class="form-buttons">
        <button class="form-button">
            <span>Вход</span>
        </button>
    </div>
    <div class="authorization-form">
        <div class="login">
            <input type="text" required="required" title="" placeholder="Логин">
        </div>
        <div class="password">
            <input type="password" title="" required="required" title="" placeholder="Пароль">
        </div>
        <div class="authorization-enter">
                <button type="button" onclick="document.location='../adminPanel/adminPanel.html'" class="authorization-enter-button">войти</button>
        </div>
    </div>
    <svg class="line" width="100%" height="900" transform="translate(70 1)">
        <line
                x1="506"
                y1="255"
                x2="578"
                y2="300"
                style="
                    stroke: white;
                    stroke-width: 2.5;"
        />
        <line
                x1="100"
                y1="120"
                x2="1300"
                y2="120"
                style="
                        stroke: white;
                        stroke-width: 2;"
        />
    </svg>
    <svg class="rectangle" width="100%" height="1350" transform="translate(70 1)">
        <rect
                x="50"
                y="20"
                rx="35"
                ry="35"
                style="
                    width:1300px;
                    height:450px;
                    fill:none;
                    stroke:white;
                    stroke-width:2;
                    opacity:1;"

        />
        <rect
                x="100"
                y="300"
                rx="35"
                ry="35"
                style="
                    width: 1100px;
                    height: 500px;
                    margin-left: 5%;
                    margin-top: 20%;
                    fill:#747A9B;
                    stroke:white;
                    stroke-width:2.5;
                    opacity:1;"
        />
        <polygon
                points="500,335 505,255 635,335"
                style="
                    width: 100px;
                    height: 100px;
                    margin-left: 17%;
                    margin-top: 25%;
                    fill:#747A9B;
                    stroke: white;
                    stroke-width:2.5;
                    opacity:1;"
        />
        <rect
                x="100"
                y="300"
                ry="0"
                style="
                    width: 100px;
                    height: 100px;
                    margin-left: 5%;
                    margin-top: 20%;
                    fill:#747A9B;
                    stroke: white;
                    stroke-width:2;
                    opacity:1;"
        />
    </svg>
</div>

</body>
</html>